
  <p id="notice"><%= notice %></p>

  <div class="toppage">
  <h1 class="top">カレンダー</h1>
  <br>

  <div class="row">
  <div class="col-md-4">
    <div class="schedule">出店状況一覧</div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>キッチンカー名</th>
        <th>日程</th>
      </tr>
    </thead>

    <tbody>
      <% @calenders.each do |calender| %>
        <tr>
          <td><%= link_to calender.store_name , calender %></td>
          <td><%= calender.start_time.strftime("%m-%d") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>



  <%= form_with(model: @calender, local: true) do |form| %>

    <div class="store-name">
      <div class="form-tag">キッチンカー名</div>
      <%= form.text_field :store_name %>
    </div>

      <div class="time">
      <div class="form-tag">日程</div>
      <%= form.datetime_select :start_time %>
    </div>

    <div class="submit">
      <%= form.submit %>
    </div>
  <% end %>
  </div>

  <br>


  <br>
  <div class="col-md-8">
  <%= month_calendar events: @calenders do |date, calenders| %>
    <%= date.day %>

    <% calenders.each do |calender| %>
      <div>
        <%= link_to calender.store_name, calender %>
      </div>
    <% end %>
  <% end %>
  </div>
  </div>
  </div>