<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>キッチンカー名</strong>
  <%= [@location, @calender].store_name %>
</p>

<p>
  <strong>日時</strong>
  <%= [@location, @calender].start_time.strftime("%m-%d") %>
</p>

<%= link_to '編集', edit_calender_path(@calender.id) %>
<%= link_to '消去',calender_path(@calender.id), method: :delete, data: { confirm: '予定を削除しますか?' } %>
<%= link_to '戻る', calenders_path %>
</div>