<%= form_with model: @location, method: :patch, local: true do |f| %>
  <div class="new-location">
  <h1 class="form-title">出店場所 編集</h1>
    <%# 場所の画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        場所の画像
      </div>
      <div class="click-upload">
        <p>
          クリックして画像をアップロード
        </p>
        <%= f.file_field :image, id:"item_image" %>
      </div>
    </div>
    <%# 場所の名前 %>
    <div class="weight-bold-text">
      場所名
      <span class="indispensable">*必須</span>
    </div>
    <%= f.text_field :place, class:"location-place", placeholder:"(例) PayPayドーム前", maxlength:"30" %>
    <%# 住所 %>
    <div class="weight-bold-text">
      住所
      <span class="indispensable">*必須</span>
    </div>
    <%# 県のプルダウン %>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefecture-select"}) %>
    <%= f.text_field :address, class:"location-address", placeholder:"(例) 福岡市中央区天神1-1", maxlength:"30" %>
    <%# 連絡先 %>
    <div class="weight-bold-text">
      連絡先
      <span class="indispensable">*必須</span>
    </div>
    <%= f.text_field :contact_address, class:"location-contact-address", placeholder:"ハイフン除く", maxlength:"11" %>
    <%# 出店料 %>
    <div class="weight-bold-text">
      出店料
    </div>
    <%= f.text_field :fee, class:"location-fee", placeholder:"(例) 一律500円,売上の15%など", maxlength:"30" %>
    <%# その他情報 %>
    <div class="weight-bold-text">
      その他情報
    </div>
    <%= f.text_area :info, class:"location-info", placeholder:"(例) 客層,ピーク時間帯,注意事項", maxlength:"100" %>
    <%# 登録ボタン %>
    <%= f.submit '変更する', class: "button" %>
  </div>
<% end %>