<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="キッチンカー 場所登録・管理アプリ">
</head>
<body>
    <div class="main-image">
      <div class="bkRGBA">
        <p class="main-text">~ FOOD TRUCK ~</p>
        <p class="main-text2">場所の共有 & 空き状況の確認</p>
      </div>
    </div>
    <div id="contents">
      <section id="new">
        <h2>出店場所一覧</h2>
          <%# 投稿がある場合は、eachメゾッドで一覧表示する %>
          <div class="location-lists">
            <div class="prefecture-group">福岡県</div>
            <div class="location-list">
            <% if @locations.present? %>
            
            <% @location1.each do |location| %> 
              <%= link_to location_path(location.id) do  %>
                <div class="location-image-content">
                  <%= image_tag location.image.variant(resize: '200x200'), class: 'location-image' if location.image.attached? %>
                  <%= location.place %>
                </div>
              <% end %>
            <% end %>
            </div>
            <div class="prefecture-group">佐賀県</div>
            <div class="location-list">
            <% @location2.each do |location| %> 
              <%= link_to location_path(location.id) do  %>
                <div class="location-image-content">
                  <%= image_tag location.image.variant(resize: '200x200'), class: 'location-image' if location.image.attached? %>
                  <%= location.place %>
                </div>
              <% end %>
            <% end %>
            </div>
            <div class="prefecture-group">長崎県</div>
            <div class="location-list">
            <% @location3.each do |location| %> 
              <%= link_to location_path(location.id) do  %>
                <div class="location-image-content">
                  <%= image_tag location.image.variant(resize: '200x200'), class: 'location-image' if location.image.attached? %>
                  <%= location.place %>
                </div>
              <% end %>
            <% end %>
            </div>
            <div class="prefecture-group">熊本県</div>
            <div class="location-list">
            <% @location4.each do |location| %> 
              <%= link_to location_path(location.id) do  %>
                <div class="location-image-content">
                  <%= image_tag location.image.variant(resize: '200x200'), class: 'location-image' if location.image.attached? %>
                  <%= location.place %>
                </div>
              <% end %>
            <% end %>
            </div>
            <div class="prefecture-group">大分県</div>
            <div class="location-list">
            <% @location5.each do |location| %> 
              <%= link_to location_path(location.id) do  %>
                <div class="location-image-content">
                  <%= image_tag location.image.variant(resize: '200x200'), class: 'location-image' if location.image.attached? %>
                  <%= location.place %>
                </div>
              <% end %>
            <% end %>
            </div>
            <div class="prefecture-group">山口県</div>
            <div class="location-list">
            <% @location6.each do |location| %> 
              <%= link_to location_path(location.id) do  %>
                <div class="location-image-content">
                  <%= image_tag location.image.variant(resize: '200x200'), class: 'location-image' if location.image.attached? %>
                  <%= location.place %>
                </div>
              <% end %>
            <% end %>
            </div>
            <% else %>
              <div>投稿がありません</div>
            <% end %>
          </div>
      </section>
    </div>
    <!--/contents-->
    <footer> <small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small> <span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span> </footer>
</body>
</html>